.Layout-row-end-center{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Layout-row-start-center{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.Layout-column-start-start{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Layout-row-space-around-center{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Layout-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mw-50{
    max-width: 50%;
}

.g-5{
    gap: 5em;
}
.g-2{
    gap: 2em;
}

.w-30{
    width: 30em;
}

.formAnnulation{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.w-8{
    width: 8em;
}

.flex{
    display:flex;
    gap:2em;
}

.txt-center{
    text-align: center;
}
.txt-start{
    text-align: start !important;
}

.Title{
    font-size: 20px;
    font-weight: bold;
}

.serie-form-container{
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
}

table{
    overflow: auto!important;
    width: fit-content!important;
    display: block!important;
}

.row {
 margin-left: 0!important;
}

.mx-20{
    margin-left: 20em!important;
    margin-right: 20em!important;
}

.fw-bold{
    font-weight: bold;
}

.mt-5{
    margin-top: 5em!important;
}