.Layout-row-end-center{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Layout-row-start-center{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.Layout-column-start-start{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Layout-row-space-around-center{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex{
    display:flex;
    gap:2em;
}

.txt-center{
    text-align: center;
}
.txt-start{
    text-align: start !important;
}

.Title{
    font-size: 20px;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

thead {
    background-color: rgb(228 240 245);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

