body {
    background-color: #A2E4EE;
    font-family: 'Gill Sans', sans-serif;
 }

h1 {
    font-weight: bold;
}

.paragraph-profil {
    font-size: 18px;
    text-align: left;
}

.encadrement-profil {
    border: 3px solid #000;
    padding: 10px; /* Espacement à l'intérieur du bloc */
    max-width: 50%; /* Limiter la largeur maximale de l'encadrement */
    margin: 0 auto; /* Centrer l'encadrement horizontalement */
    margin-top: 10rem;
    background-color: lightgrey;
}

.encadrement-mdp {
    border: 3px solid #000;
    padding: 10px;
    max-width: 35%;
    margin: 0 auto;
    margin-top: 12rem;
    text-align: center;
}
